# Ignore Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment variables & secrets
.env
*.env
config/settings/local.py
config/.env

# Ignore virtual environment
venv/
env/
.virtualenv/

# Ignore database & migrations
db.sqlite3
*.sqlite3
*.log
media/

# Ignore Django migrations (optional, if you want to exclude them)
# **/migrations/*.py
# !**/migrations/__init__.py

# Ignore compiled static files
staticfiles/
static/
node_modules/
npm-debug.log
yarn-error.log

# Ignore IDE/editor files
.vscode/
.idea/
*.sublime-workspace

# Ignore system files
.DS_Store
Thumbs.db
